img{
	max-width: 100%;
}

.top-bar{
	    max-width: 100%;
}

.grey-background{
	            width: 100&;
	            height: 100px;
	            background-color: lightgrey;
}
	    
.hero{
	 height: 500px;
	 margin-top: 4;

	 
}

