
img {max-width: 100%}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*This is the minimum width
  that this webpage will display
  at // 0 - 320px*/

@media screen and (min-width: 320px){

/*Top section // Logo location*/

.top-bar{
	    display: flex;
	    width: 100%;
}

.grey-background{
	            height: 50px;
	            background-color: lightgrey;
}

.logo{
	 width: 20%;
	 display: block;
	 margin: 0 auto;
	 margin-top: 17px;

}

/*Responsive hero- Defualt
  image= 0-320px*/

.hero{
	 width: 100%;
	 height: 250px;
	 margin-top: 3.1px;
}

/*Full page width 
  0 margins*/

.about-image{
	        width: 100%;
	        height: 250px;
	        margin-top: 95px;
}

/*Separate container-
  different size/colour*/
/*Responsive- 
  18px at 320 width
  24px at 640+*/

.header{
	   font-family: 'Lato', sans-serif;
	   color: #F96D6D;
	   font-size: 1.125em;
	   text-align: center;
	   margin-top: 20px;
}

/*Responsive-
  12px at 320 width
  18px at 640+*/

.text-container{
	           font-family: 'Lato', sans-serif;
	           font-size: 0.750em;
	           text-align: left;
	           margin-top: 10px;
	           margin-left: 10px;
	           margin-right: 10px;
	           line-height: 1.5;
}

/*Gallery Beggining*/

.image-1{
	    height: 250px;
	    margin-top: 45px;-
}

.lonely-dublin-header{
	                 font-family: 'Lato', sans-serif;
	                 color: #F96D6D;
	                 font-size: 1.125em;
	                 text-align: center;
	                 margin-top: 20px;
}

.shoes{
	  height: 250px;
	  margin-top: 20px;
}

.hypebeast-header{
	             font-family: 'Lato', sans-serif;
	             color: #F96D6D;
	             font-size: 1.125em;
	             text-align: center;
	             margin-top: 20px;
}

.vw-image{
	     height: 250px;
	     margin-top: 20px;
}

.vw-header{
	      font-family: 'Lato', sans-serif;
	      color: #F96D6D;
	      font-size: 1.125em;
	      text-align: center;
	      margin-top: 20px;
}

.mobile-image{
	         height: 250px;
	         margin-top: 20px;
}

.mobile-header{
	          font-family: 'Lato', sans-serif;
	          color: #F96D6D;
	          font-size: 1.125em;
	          text-align: center;
	          margin-top: 20px;
}




	   

}



