img{
	max-width: 100%;
}

/*Grey bar in which Logo will Sit*/

.top-bar{
	    display: flex;
	    max-width: 100%;
	}

.grey-background{
	            width: 100%;
	            height: 100px;
	            background-color: lightgrey;
	            position: fixed;
	            top: 0;
	            margin-left: -8;

}

.logo{
      width: 20%;
      height: 80px;
      float: left;
      margin-top: 15;
      margin-bottom: 5;
      margin-left: 40;
}


	    
/*Main Hero Image*/

.hero{
	 height: 500px;
	 margin-top: 97.5;
	 margin-right: -8;
	 margin-left: -8;
	 
}

/*About Section*/

.about-image{
	        height: 500px;
	        margin-top: 200;
	        margin-left: 45;
	        margin-right: 45;
}

.text-container{
               margin-top: 500;
               margin-left: 43;
	           font-family: Myriad Web Pro;
}





@media screen and (min-width: 480px){

}





             
             




